<!-- BEGIN CONTENT -->
<div class="page-content full-height-content" ng-cloak>
	<!-- BEGIN PAGE HEADER -->
	<!-- BEGIN PAGE TITLE -->
	<h3 class="page-title"> User Profile | Sessions
		<small>user sessions page</small>
	</h3>
	<!-- END PAGE TITLE -->
	<!-- END PAGE HEADER -->
	<div class="row">
		<div class="col-md-12">
			<!-- BEGIN PROFILE CONTENT -->
			<div class="profile-content">
				<div class="row">
					<div class="col-md-12">
						<!-- BEGIN USER PROFILE SESSIONS PORTLET-->
						<div class="portlet">
							<div class="alert alert-success" ng-show="success">
								<strong>Session invalidated!</strong>
							</div>
							<div class="alert alert-danger" ng-show="error">
								<strong>An error has occured!</strong> The session could not be invalidated.
							</div>
							<div class="portlet-body">
								<div class="table-responsive">
									<table class="table table-striped table-bordered table-hover">
										<thead>
											<tr>
												<th>IP Address</th>
												<th>User agent</th>
												<th>Date</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="session in sessions">
												<td>{{session.ipAddress}}</td>
												<td>{{session.userAgent}}</td>
												<td>{{session.formattedTokenDate}}</td>
												<td>
													<button type="submit" class="btn btn-primary" ng-click="invalidate(session.series)">
														Invalidate
													</button>
                        						</td>
                        					</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<!-- END USER PROFILE SESSIONS PORTLET-->
					</div>
				</div>
			</div>
			<!-- END PROFILE CONTENT -->
		</div>
	</div>
</div>
<!-- END CONTENT -->