<!-- BEGIN SIDEBAR -->
<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
<!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
<div class="page-sidebar navbar-collapse collapse" ng-cloak ng-switch-when="true" init-sidebar>
	<!-- BEGIN SIDEBAR MENU -->
	<!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
	<!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
	<!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
	<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
	<!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
	<!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
	<ul class="page-sidebar-menu page-header-fixed" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
		<!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
		<li class="sidebar-toggler-wrapper hide">
			<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
			<div class="sidebar-toggler"></div>
			<!-- END SIDEBAR TOGGLER BUTTON -->
		</li>
		<li class="heading">
			<h3 class="uppercase">sidebar title</h3>
		</li>
		<li class="nav-item start ">
			<a href="" class="nav-link nav-toggle">
				<i class="icon-home"></i>
				<span class="title">Metronic</span>
				<span class="selected"></span>
				<span class="arrow open"></span>
			</a>
			<ul class="sub-menu">
				<li class="nav-item start active open">
					<a id="home" ui-sref="home" class="nav-link ">
						<span class="title">Main</span>
						<span class="selected"></span>
					</a>
				</li>
			</ul>
		</li>
		<li class="nav-item start ">
			<a href="" class="nav-link nav-toggle">
				<i class="icon-user"></i>
				<span class="title">User Profile</span>
				<span class="selected"></span>
				<span class="arrow open"></span>
			</a>
			<ul class="sub-menu">
				<li class="nav-item start ">
					<a id="settings" ui-sref="settings" class="nav-link ">
						<span class="title">Settings</span>
					</a>
				</li>
				<li class="nav-item start ">
					<a id="password" ui-sref="password" class="nav-link ">
						<span class="title">Password</span>
					</a>
				</li>
				<li class="nav-item start ">
					<a id="sessions" ui-sref="sessions" class="nav-link ">
						<span class="title">Sessions</span>
					</a>
				</li>
			</ul>
		</li>
		<li class="nav-item start ">
			<a href="" class="nav-link nav-toggle">
				<i class="icon-settings"></i>
				<span class="title">Admin</span>
				<span class="selected"></span>
				<span class="arrow open"></span>
			</a>
			<ul class="sub-menu">
				<li class="nav-item start ">
					<a id="logs" ui-sref="logs" class="nav-link ">
						<span class="title">Logs</span>
					</a>
				</li>
				<li class="nav-item start ">
					<a id="user_management" ui-sref="user-management" class="nav-link">
						<span class="title">User-Management</span>
					</a>
				</li>
			</ul>
		</li>
	</ul>
	<!-- END SIDEBAR MENU -->
</div>
<!-- END SIDEBAR -->