<!-- BEGIN CONTENT -->
<div class="page-content full-height-content" ng-cloak>
	<!-- BEGIN PAGE HEADER -->
	<!-- BEGIN PAGE TITLE -->
	<h3 class="page-title"> User Profile | Password
		<small>user password page</small>
	</h3>
	<!-- END PAGE TITLE -->
	<!-- END PAGE HEADER -->
	<div class="row">
		<div class="col-md-12">
			<!-- BEGIN PROFILE CONTENT -->
			<div class="profile-content">
				<div class="row">
					<div class="col-md-12">
						<div clas="porlet light">
							<div class="portlet-title tabbable-line">
								<div class="caption caption-md">
									<i class="icon-globe theme-font hide"></i>
									<span class="caption-subject font-blue-madison bold uppercase">Profile Password</span>
								</div>
							</div>
							<div class="portlet-body">
								<div class="tab-content">
									<div class="alert alert-success" ng-show="success" translate="password.messages.success">
										<strong>Password changed!</strong>
									</div>
									<div class="alert alert-danger" ng-show="error"  translate="password.messages.error">
										<strong>An error has occurred!</strong> The password could not be changed.
									</div>
									<div class="alert alert-danger" ng-show="doNotMatch" translate="global.messages.error.dontmatch">
										The password and its confirmation do not match!
									</div>
									<!-- CHANGE PASSWORD TAB -->
									<div class="tab-pane active">
										<form name="form" role="form" novalidate ng-submit="changePassword()" show-validation>
											<div class="form-group">
												<label class="control-label" for="password">New Password</label>
												<input type="password" class="form-control" id="password" name="password" placeholder="New password"
													ng-model="password" ng-minlength=5 ng-maxlength=50 required>
												<div ng-show="form.password.$dirty && form.password.$invalid">
													<p class="help-block" ng-show="form.password.$error.required" translate="global.messages.validate.newpassword.required">
														Your password is required.
													</p>
													<p class="help-block" ng-show="form.password.$error.minlength" translate="global.messages.validate.newpassword.minlength">
														Your password is required to be at least 5 characters.
													</p>
													<p class="help-block" ng-show="form.password.$error.maxlength" translate="global.messages.validate.newpassword.maxlength">
														Your password cannot be longer than 50 characters.
													</p>
												</div>
												<password-strength-bar password-to-check="password"></password-strength-bar>
											</div>
											<div class="form-group">
												<label class="control-label" for="confirmPassword">New password confirmation</label>
												<input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
													ng-model="confirmPassword" ng-minlength=5 ng-maxlength=50 required>
												<div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
													<p class="help-block" ng-show="form.confirmPassword.$error.required" translate="global.messages.validate.confirmpassword.required">
														Your confirmation password is required.
													</p>
													<p class="help-block" ng-show="form.confirmPassword.$error.minlength" translate="global.messages.validate.confirmpassword.minlength">
														Your confirmation password is required to be at least 5 characters.
													</p>
													<p class="help-block" ng-show="form.confirmPassword.$error.maxlength" translate="global.messages.validate.confirmpassword.maxlength">
														Your confirmation password cannot be longer than 50 characters.
													</p>
												</div>
											</div>
											<div class="margin-top-10">
												<button type="submit" ng-disabled="form.$invalid" class="btn green">Save</button>
											</div>
										</form>
									</div>
									<!-- END CHANGE PASSWORD TAB -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END PROFILE CONTENT -->
		</div>
	</div>
</div>
<!-- END CONTENT -->