<!-- BEGIN CONTENT -->
<div class="page-content full-height-content" ng-cloak>
	<!-- BEGIN PAGE HEADER -->
	<!-- BEGIN PAGE TITLE -->
	<h3 class="page-title"> User Profile | Settings
		<small>user settings page</small>
	</h3>
	<!-- END PAGE TITLE -->
	<!-- END PAGE HEADER -->
	<div class="row">
		<div class="col-md-12">
			<!-- BEGIN PROFILE CONTENT -->
			<div class="profile-content">
				<div class="row">
					<div class="col-md-12">
						<div clas="porlet light">
							<div class="portlet-title tabbable-line">
								<div class="caption caption-md">
									<i class="icon-globe theme-font hide"></i>
									<span class="caption-subject font-blue-madison bold uppercase">Profile Settings</span>
								</div>
							</div>
							<div class="portlet-body">
								<div class="tab-content">
									<div class="alert alert-success" ng-show="success" translate="settings.messages.success">
										<strong>Settings saved!</strong>
									</div>
									<div class="alert alert-danger" ng-show="errorEmailExists" translate="settings.messages.error.emailexists">
										<strong>E-mail is already in use!</strong> Please choose another one.
									</div>
									<div class="alert alert-danger" ng-show="error" translate="settings.messages.error.fail">
										<strong>An error has occurred!</strong> Settings could not be saved.
									</div>
									<!-- PERSONAL INFO TAB -->
									<div class="tab-pane active">
										<form name="form" role="form" novalidate ng-submit="save()" show-validation>
											<div class="form-group">
												<label class="control-label" for="firstName">First Name</label>
												<input type="text" class="form-control" id="firstName" name="firstName" placeholder="John"
                           							ng-model="settingsAccount.firstName" ng-minlength=1 ng-maxlength=50 required maxlength="50" />
                           						<div ng-show="form.firstName.$dirty && form.firstName.$invalid">
                           							<p class="help-block" ng-show="form.firstName.$error.required" translate="settings.messages.validate.firstname.required">
                           								Your first name is required.
                           							</p>
                           							<p class="help-block" ng-show="form.firstName.$error.minlength" translate="settings.messages.validate.firstname.minlength">
                           								Your first name is required to be at least 1 character.
                           							</p>
                           							<p class="help-block" ng-show="form.firstName.$error.maxlength" translate="settings.messages.validate.firstname.maxlength">
                           								Your first name cannot be longer than 50 characters.
                           							</p>
                           						</div>
											</div>
											<div class="form-group">
												<label class="control-label" for="lastName">Last Name</label>
												<input type="text" class="form-control" id="lastName" name="lastName" placeholder="Doe"
                           							ng-model="settingsAccount.lastName" ng-minlength=1 ng-maxlength=50 required maxlength="50">
                           						<div ng-show="form.lastName.$dirty && form.lastName.$invalid">
                           							<p class="help-block" ng-show="form.lastName.$error.required" translate="settings.messages.validate.lastname.required">
                           								Your last name is required.
                           							</p>
                           							<p class="help-block" ng-show="form.lastName.$error.minlength" translate="settings.messages.validate.lastname.minlength">
                           								Your last name is required to be at least 1 character.
                           							</p>
                           							<p class="help-block" ng-show="form.lastName.$error.maxlength" translate="settings.messages.validate.lastname.maxlength">
                           								Your last name cannot be longer than 50 characters.
                           							</p>
                           						</div>
											</div>
											<div class="form-group">
												<label class="control-label" for="email">E-mail</label>
												<input type="email" class="form-control" id="email" name="email" placeholder=""
                           							ng-model="settingsAccount.email" ng-minlength=5 ng-maxlength=100 required maxlength="100">
                           						<div ng-show="form.email.$dirty && form.email.$invalid">
                           							<p class="help-block" ng-show="form.email.$error.required" translate="global.messages.validate.email.required">
                           								Your e-mail is required.
                           							</p>
                           							<p class="help-block" ng-show="form.email.$error.email" translate="global.messages.validate.email.invalid">
                           								Your e-mail is invalid.
                           							</p>
                           							<p class="help-block" ng-show="form.email.$error.minlength" translate="global.messages.validate.email.minlength">
                           								Your e-mail is required to be at least 5 characters.
                           							</p>
                           							<p class="help-block" ng-show="form.email.$error.maxlength" translate="global.messages.validate.email.maxlength">
                           								Your e-mail cannot be longer than 100 characters.
                           							</p>
                           						</div>
											</div>
											<div class="form-group">
												<label for="langKey" translate="settings.form.language">Language</label>
												<select id="langKey" name="langKey" class="form-control" ng-model="settingsAccount.langKey" ng-controller="LanguageController" ng-options="code as (code | findLanguageFromKey) for code in languages"></select>
												</div>
											<div class="margiv-top-10">
												<button type="submit" ng-disabled="form.$invalid" class="btn green" translate="settings.form.button">Save</button>
											</div>
										</form>
									</div>
									<!-- END PERSONAL INFO TAB -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END PROFILE CONTENT -->
		</div>
	</div>
</div>
<!-- END CONTENT -->