<!-- BEGIN CONTENT -->
<div class="page-content full-height-content" ng-cloak>
	<!-- BEGIN PAGE HEADER -->
	<!-- BEGIN PAGE TITLE -->
	<h3 class="page-title"> 2nd level title
		<small> 1st level title</small>
	</h3>
	<!-- END PAGE TITLE -->
	<!-- END PAGE HEADER -->
	<div class="row">
		hello world
	</div>
</div>
<!-- END CONTENT -->