<!-- BEGIN CONTENT -->
<div class="page-content full-height-content" ng-cloak>
	<!-- BEGIN PAGE HEADER -->
	<!-- BEGIN PAGE TITLE -->
	<h3 class="page-title"> Admin | User-Management
		<small>admin management page</small>
	</h3>
	<!-- END PAGE TITLE -->
	<!-- END PAGE HEADER -->
	<div class="row">
		<div class="col-md-12">
			<!-- BEGIN PROFILE CONTENT -->
			<div class="profile-content">
				<div class="row">
					<div class="col-md-12">
						<!-- BEGIN USER MANAGEMENT PORTLET-->
						<div class="portlet">
							<div class="portlet-title">
								<button class="btn btn-primary" ui-sref="user-management.new">
									<span class="glyphicon glyphicon-flash"></span>
									<span translate="user-management.home.createLabel">Create a new User</span>
								</button>
							</div>
							<div class="portlet-body">
								<div class="table-responsive">
									<table class="table table-striped table-bordered table-hover">
										<thead>
											<tr>
												<th>ID</th>
												<th>Login</th>
												<th>Email</th>
												<th></th>
												<th>LangKey</th>
												<th>Profiles</th>
												<th>CreatedDate</th>
												<th>LastModifiedBy</th>
												<th>LastModifiedDate</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="user in users track by user.id">
												<td><a ui-sref="user-management-detail({login:user.login})">{{user.id}}</a></td>
												<td>{{user.login}}</td>
												<td>{{user.email}}</td>
												<td>
													<span class="label label-danger" ng-click="setActive(user, true)" ng-show="!user.activated"
														style="cursor: pointer;">Desactivated</span>
													<span class="label label-success" ng-click="setActive(user, false)" ng-show="user.activated"
														style="cursor: pointer;">Activated</span>
												</td>
												<td>{{user.langKey}}</td>
												<td>
													<div ng-repeat="authority in user.authorities">
														<span class="label label-info">{{ authority }}</span>
													</div>
												</td>
												<td>{{user.createdDate | date:'dd/MM/yy HH:mm'}}</td>
												<td>{{user.lastModifiedBy}}</td>
												<td>{{user.lastModifiedDate | date:'dd/MM/yy HH:mm'}}</td>
												<td class="text-right">
													<button type="submit" ui-sref="user-management-detail({login:user.login})" class="btn btn-info btn-sm">
														<span class="glyphicon glyphicon-eye-open"></span>
													</button>
													<button type="submit" ui-sref="user-management.edit({login:user.login})" class="btn btn-primary btn-sm">
														<span class="glyphicon glyphicon-pencil"></span>
													</button>
													<button type="submit" ui-sref="user-management.delete({login:user.login})" class="btn btn-danger btn-sm">
														<span class="glyphicon glyphicon-remove-circle"></span>
													</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="text-center">
									<uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
								</div>
							</div>
						</div>
						<!-- END USER MANAGEMENT PORTLET-->
					</div>
				</div>
			</div>
			<!-- END PROFILE CONTENT -->
		</div>
	</div>
</div>
<!-- END CONTENT -->