<!-- BEGIN LOGIN -->
<div class="user-login-5">
	<div class="row bs-reset">
		<div class="col-md-6 bs-reset">
			<div class="login-bg"></div>
		</div>
		<div class="col-md-6 login-container bs-reset">
			<div class="login-content">
				<h1>Metronic Admin Login</h1>
				<p> Lorem ipsum dolor sit amet, coectetuer adipiscing elit sed diam nonummy et nibh euismod aliquam erat volutpat. Lorem ipsum dolor sit amet, coectetuer adipiscing. </p>
				<div class="alert alert-danger" ng-show="authenticationError" >
					<strong>Failed to sign in!</strong> Please check your credentials and try again.
				</div>
				<form class="login-form" role="form" ng-submit="login($event)">
					<div class="row">
						<div class="col-xs-6">
							<input type="text" id="username" ng-model="username" class="form-control form-control-solid placeholder-no-fix form-group" autocomplete="off" placeholder="Username" name="username" required/>
						</div>
						<div class="col-xs-6">
							<input type="password" id="password" ng-model="password" class="form-control form-control-solid placeholder-no-fix form-group" autocomplete="off" placeholder="Password" name="password" required/>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<div class="rem-password">
								<p>
									<span>Remember Me</span>
									<input type="checkbox" id="rememberMe" ng-model="rememberMe" class="rem-checkbox" />
								</p>
							</div>
						</div>
						<div class="col-sm-8 text-right">
							<div class="forgot-password">
								<a ui-sref="requestReset" id="forget-password" class="forget-password">Forgot Password?</a>
							</div>
							<button class="btn blue" type="submit">Sign In</button>
						</div>
					</div>
				</form>
			</div>
			<div class="login-footer">
				<div class="row bs-reset">
					<div class="col-xs-12 bs-reset">
						<div class="login-copyright text-right">
							<p>Copyright &copy; Keenthemes 2015</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END LOGIN -->