<!-- BEGIN CONTENT -->
<div class="page-content full-height-content" ng-cloak>
	<!-- BEGIN PAGE HEADER -->
	<!-- BEGIN PAGE TITLE -->
	<h3 class="page-title"> Admin | Logs
		<small>admin logs page</small>
	</h3>
	<!-- END PAGE TITLE -->
	<!-- END PAGE HEADER -->
	<div class="row">
		<div class="col-md-12">
			<!-- BEGIN PROFILE CONTENT -->
			<div class="profile-content">
				<div class="row">
					<div class="col-md-12">
						<!-- BEGIN ADMIN LOGS PORTLET-->
						<div class="portlet">
							<div class="portlet-body">
								<span>Filter</span> <input type="text" ng-model="filter" class="form-control">
								<div class="table-responsive">
									<table class="table table-striped table-bordered table-hover">
										<thead>
											<tr title="click to order">
												<th ng-click="predicate = 'name'; reverse=!reverse"><span translate="logs.table.name">Name</span></th>
												<th ng-click="predicate = 'level'; reverse=!reverse"><span translate="logs.table.level">Level</span></th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="logger in loggers | filter:filter | orderBy:predicate:reverse">
												<td><small>{{logger.name | characters:140}}</small></td>
												<td>
													<button ng-click="changeLevel(logger.name, 'TRACE')" ng-class="(logger.level=='TRACE') ? 'btn-danger' : 'btn-default'" class="btn btn-default btn-xs">TRACE</button>
													<button ng-click="changeLevel(logger.name, 'DEBUG')" ng-class="(logger.level=='DEBUG') ? 'btn-warning' : 'btn-default'" class="btn btn-default btn-xs">DEBUG</button>
													<button ng-click="changeLevel(logger.name, 'INFO')" ng-class="(logger.level=='INFO') ? 'btn-info' : 'btn-default'" class="btn btn-default btn-xs">INFO</button>
													<button ng-click="changeLevel(logger.name, 'WARN')" ng-class="(logger.level=='WARN') ? 'btn-success' : 'btn-default'" class="btn btn-default btn-xs">WARN</button>
													<button ng-click="changeLevel(logger.name, 'ERROR')" ng-class="(logger.level=='ERROR') ? 'btn-primary' : 'btn-default'" class="btn btn-default btn-xs">ERROR</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<!-- END ADMIN LOGS PORTLET-->
					</div>
				</div>
			</div>
			<!-- END PROFILE CONTENT -->
		</div>
	</div>
</div>
<!-- END CONTENT -->